h1.mt-4.mb-4.border-bottom= .PageTitle

p.important {{ .Tr.Note }}

if .FormSended
  .alert.alert-success.alert-dismissible.fade.show(role="alert")
    | {{ .FormSended }}

    button.close(type="button" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;

| {{ render "views/forms/audio.pug" }}
