doctype html
html.h-100(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon" href="./favicon.png")
    title Error
    link(rel="stylesheet" href="./css/bootstrap.min.css")
  body.h-100
    .d-flex.align-items-center.flex-column.justify-content-center.h-100
      .jumbotron
        h1.display-4 Oops!

        p.lead Something went wrong!

        p Please, go to #[strong the Support page] and execute #[strong recalbox-support.sh]
