h1.mt-4.mb-4.border-bottom= .PageTitle

.container
  .row.justify-content-around
    {{range .Tiles}}
      .col-sm.text-center.mb-3
        .card
          .card-body
            a(href={{.Link}} target="_blank")
              img.img-fluid.mb-3(
                src={{.Image}}
                alt={{.Label}}
              )
              br
              {{.Label}}
    {{end}}
