h1.mt-4.mb-4.border-bottom recalbox.conf

.bd-callout.bd-callout-info.mb-4
  | Si jamais les autres vues ne suffisent pas, le contenu du fichier
  |  recalbox.conf peut-être entièrement vu et modifié via cette interface.

| {{ render "views/forms/recalbox-conf.pug" }}
