h1.mt-4.mb-4.border-bottom= .PageTitle

.card.mb-4
  .card-header Effectuer une capture d'écran
  .card-body
    p.card-text Le bouton ci-dessous vous permet de prendre une capture d'écran de l'affichage actuel de recalbox.
    p.card-text Le résultat sera sauvegardé dans le dossier %s.
    p
      {{ $url := urlpath "screenshots_take" }}
      a.btn.btn-success(role="button" href={{$url}}) Faire une capture

.card-columns
  {{range $i := .Images}}
    {{$viewUrl := print "//" $.Hostname ":" $.Port "/screenshots/viewer/" .}}
    {{$deleteUrl := print "//" $.Hostname ":" $.Port "/screenshots/delete/" .}}
    .card
      img.card-img-top(src={{$viewUrl}} alt={{.}})
      a.btn.btn-danger.btn-sm.text-white.btn-delete-screenshot(
        role="button"
        href={{$deleteUrl}}
      )
        i.fas.fa-trash-alt.fa-sm
  {{end}}
