form(method="post" action=(urlpath "logs_form"))
  .card.mb-4
    .card-header Fichiers de logs
    .card-body
      .form-group.row
        .col-sm-8
          select#log-file.form-control(name="log-file")
            option(value="") –
            each _ in .LogsList
              option(value=.) {{ . }}

        .col-sm-4
          button.btn.btn-success(type="submit") Voir
